<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
    <div class="header-title">Plataforma de Metadados</div>
    <nav class="menu">
        <a href="/">Home</a>
    </nav>
</header>

<div class="page-banner">{{ breadcrumb }}</div>

<div class="container">
    <form {{ visibility }} id="searchForm" method="GET" action="/search">
        <input type="text" id="searchInput" name="q" placeholder="Tabela, Coluna, Tag, etc..." required>
        <button type="submit">Buscar</button>
    </form>
    {{ content }}
</div>

</body>
</html>

    
